<div class="post">
  <div class="post-author">
    <div class="avatar avatar-<%= rand(1..27) %>"></div>
    <div><%= post.user.username %></div>
  </div>
  <div class="post-body">
    <span><%= post.body %></span>
  </div>
  <div class="post-actions">
    <% if user_liked_post?(current_user, post) %>
      <!-- Display content for users who liked the post -->
      <%= turbo_frame_tag "post-likes" do %>
        <%= button_to "", post_likes_path(post), class: "post-actions-unlike", method: :delete %>
      <% end %>
    <% else %>
      <!-- Display content for users who haven't liked the post -->
      <%= turbo_frame_tag "post-likes" do %>
        <%= button_to "", post_likes_path(post), class: "post-actions-like" %>
      <% end %>
    <% end %>
    <div class="post-actions-comments" id="<%= dom_id(post, :comments_count) %>"><%= pluralize(post.comments.count, "comment") %></div>
  </div>
  <div class="post-comments">
    <div id="<%= dom_id(post, :comment_form) %>"><%= render partial: "comments/form", locals: { post: post } %></div>
    <div id="<%= dom_id(post, :comments_list) %>">
      <%= render partial: "comments/list", locals: { post: post } %>
    </div>
  </div>
</div>